/* 기본 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html .content {
    width: 100vw;
    height: 100vw;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

button {
    border: none;
    font-size: 12px;
    display: inline-block;
    width: 36px;
    height: 36px;
}

header {
    position: fixed;
    top: 0;
    left: 0;

    height: 95px;
    width: 100%;
    padding: 0px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    height: 31px;
}
h1 svg {
    height: 100%;
}

.btn {
    display: flex;
}

.info ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
}
.info a {
    display: inline-block;
    padding: 0 15px;
}

/* link */

.link ul {
    display: flex;
    align-items: center;
}
.link svg {
    width: 8px;
    height: 8px;
    margin-left: 4px;
}
.link a {
    white-space: nowrap;
    max-width: 160px;
    padding: 0 12px;
}
